@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.top-container {
    flex: 1;
    display: flexbox;
    background-color: #1F2937;
    padding: 8px;

}

/* Navigation */
.navbar {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 100px 20px 100px;
    justify-content: space-between;
}

.logo {
    max-height: auto;
    max-width: 150px;
    filter: drop-shadow(0 0 0.75rem rgb(175, 165, 167));
}

.nav a {
    padding: 8px;
    font-size: 20px;
    color: #E5E7EB;
    text-decoration: none;
}

.nav a:hover {
    color: rgb(240, 207, 146);
    text-decoration: underline;
}


/* Top Container Text and Button */

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 500px;
}

.text {
    width: 700px;
    color: #E5E7EB;
    font-size: 20px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
}

.btn {
    display: block;
    font-weight: 750;
    background-color: #3882F6;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    width: 120px;
    cursor: pointer;
}

.main-img {
    flex: 1;
    display: box;
    max-width: 550px;
    max-height: auto;
    border: 5px solid rgb(240, 207, 146);
}

/* Info Div */
.info-div {
    flex: 1;
    display: flexbox;
    flex-wrap: wrap;
}

.info-header {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.info-imgs {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 75px;
    font-size: 20px;
    color: #585f6b;
    flex-wrap: wrap;
}


.info-img {
    height: 250px;
    width: 380px;
    border: 5px solid #3882F6;
    border-radius: 10px;
    cursor: pointer;

}

.info-img:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px #3882F6;
}

.img:hover {
    transform: scale(1.02);
}

/* Quote div */
.quote-div {
    flex: 1;
    display: flexbox;
    flex-wrap: wrap;
    background-color: #E5E7EB;
    padding: 100px;
    margin-top: 70px;
    text-align: center;
}

.quote {
    flex: 1;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
}

.quote-auth {
    flex: 1;
    display: flexbox;
    justify-self: flex-end;
    margin-right: 450px;
    font-size: 25px;
    font-weight: 600;
    color: #585f6b;
}